//
// HUBSPOT FORM
//
.hubspot-wrapper {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;

    @include media-breakpoint-down(sm) {
        margin-top: 30px;

    .col-sm-5 {
        padding-right: 0px;
        padding-left:0px;
    }
}
    .hubspot-form {
        padding-left: 60px;

        @include media-breakpoint-down(sm) {
            padding-left: 0;
            margin-top: 30px;
        }
    }

    h3 {
        font-weight: 500;
    }

    em {
        font-style: italic;
        font-size: 1rem;
        font-weight: 300;
        color: $sl-gray;
    }

    margin-bottom: 50px;

    p {
        margin-bottom: 10px;
    }

}

.hubspot-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

body:not(.single-community) {
	.hbspt-form {
		.hs-form-field {
			margin-bottom: 15px;
		}
		label {
			margin-bottom: 3px;
			font-family: "Gotham", "Arial", "Helvetica", sans-serif;
			font-weight: 500;
			line-height: 1.5rem;
			font-size: 1rem;
		}

		input, select, textarea {
			height: 50px;
			border-radius: 0;
			box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
			border: 1px solid #999;
			width: 100%;

			@include media-breakpoint-down(sm) {
				width: 100%;
			}

		}
		.actions {
			@include media-breakpoint-down(sm) {
				text-align: center;
			}
		}
		input[type=submit] {
			background-color: $primary-light;
			border: 1px solid $primary-light;
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.25rem;
			padding: 13px 35px;
			text-align: center;
			transition: all 0.2s linear;
			border-radius: 39.5px;
			margin-top: 8px;
			width: auto;
			display: inline-block;
			text-decoration: none;
			margin-top: 20px;

			@include media-breakpoint-down(sm) {
				margin-top: 20px;
				max-width: 350px;
				width: 100%;
			}

		}
		input[type=checkbox]{
			width: auto;
		}
		.multi-container{
			list-style-type: none;
			padding-left: 5px;
		}
		.hs-form-checkbox-display span{
			padding-left: 1rem;
		}
		.hs-error-msgs{
			list-style-type: none;
			padding-left: 0px;
			font-size: .875rem;
			font-style: italic;
			font-weight: 400;
		}	
	}
}