// lifestyle activities
////////////////////////////
//about/senior-lifestyle-activities/ SPECIFIC
body.page-id-17563{
    .text-banner-wrapper{
        background-color: unset !important;
        text-align: left;
        a{
            font-size: 1.125rem;
            text-decoration: underline;
        }
        ol{
            column-count: 2;
            column-gap: 20px;
        }
    }
    .page-title-wrapper{
        text-align: left;
    }
    .page-title-wrapper:before{
        color: #177e89;
        content: "//";
        font-size: 3.5rem;
        left: -50px;
        position: absolute;
        top: 20px;
        letter-spacing: -10px;
    }
}

//about/senior-lifestyle-activities/ SPECIFICITY ENDS

.banner-content-wrapper {
    p {
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5rem !important;
    }

}

.section-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.lifestyle-activities {
    padding: 3.25rem 0 0 0;
    margin: 3.75rem 0 40px 0;
    border-top: 1px solid $sl-borderline;

    &:first-child {
        margin-top: 10px;
        border-top: 0;
    }

    @include media-breakpoint-down(sm) {
        padding: 1.875rem 0 0 0;
        margin-top: 2.5rem;

        .container-fluid {
            padding-right: 0.9375rem;
            padding-left: 0.9375rem;
        }

    }

    .title-wrap {
        width: 100%;
        padding: 0px 0 2.5rem 0;
    }

    .mobile-align {
        display: flex;
    }

    .col-md-7 {
        &.mobile-order {
            order: 1;

            @include media-breakpoint-down(sm) {
                order: 2;
            }

        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

    }

    .col-md-5 {
        &.mobile-order {
            order: 2;

            img {
                margin-bottom: 1.875rem;
            }

            @include media-breakpoint-down(sm) {
                order: 1;
            }

        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
        }

    }

    .pad-right {
        padding-right: 3.75rem;

        @include media-breakpoint-down(sm) {
            padding-right: 0;
            padding-left: 0
        }

    }

    h4 {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
       }
    ul li {
        padding-left: 1.5rem;
        position: relative;
    }

    li::before {
        color: #0b436a;
        content: "\f111";
        font-family: "Font Awesome\ 5 Free";
        font-weight: 900;
        font-size: .55rem;
        position: absolute;
        left: 0;
        top: 1px;
     }

}