//
// FLEX COLUMNS
// USED IN FOOTER
///////////////////////////////

.box-padding {
    padding: 0 5px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    // for Internet Explorer
    @media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
        display: inline;
    }
}

.column {
    flex: 1;
    margin: 2px;
    padding: 10px;

    // for Internet Explorer
    @media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
        flex: unset;
    }
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

@media screen and (max-width:980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }

    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
        margin-top: 20px;
    }

}

@media screen and (max-width:680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }

}



footer.primary-footer {
    background-color: $sl-primary;
    color: $sl-footer-white;
    padding: 50px 0;
    position: relative;
    margin-top: 0px;
    width: 100%;


    @include media-breakpoint-down(sm) {
        padding: 20px 0;
        margin-top: 0;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-logos-container {
        text-align: left;
        padding: 25px 0 0 0;

        @include media-breakpoint-down(sm) {
            text-align: center;
			
			ul {
				justify-content: center;
			}
        }

        img {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
		
		ul {
			list-style: none;
			display: flex;
			padding-left: 0;
			
			li {
				&:not(:first-child) {
					margin-left: 30px;
				}
				&:nth-of-type(1) img {
					width: 128px;
				}
				&:nth-of-type(2) img {
					width: 52px;
					border: 2px solid #fff;
					border-radius: 7px;
					padding: 5px;
					height: 52px;
					object-fit: contain;
				}
				&:nth-of-type(3) img {
					width: 55px;
				}				
			}			
		}
    }

    .social-icons-container {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;

        @include media-breakpoint-down(sm) {
            justify-content: center;
        }

        a {
            padding: 0 5px 5px;

            &:hover {
                span {
                    color: $sl-tertiary;
                }
            }

            > span {
                color: $sl-footer-white;
                font-size: 45.7px;
                transition: all 0.2s linear;
            }
        }

    }

    .footer-menu > .menu{
        padding-left:0;
        list-style: none;
        padding-bottom: 0.25rem;
        text-align: center;


        @include media-breakpoint-up(sm) {
            text-align: right;
        }

        > li {
            display: inline-block;

            &:not(:last-child) {
                padding-right: .25rem;
                border-right: 1px solid $sl-footer-white;
            }
        }

        a {
            color: $sl-footer-white;
            margin: 2px 10px 2px 10px;
            font-family: $sl-font-family;
			font-weight: 300;
			border-bottom: 1px solid;

            &:hover {
                color: $sl-tertiary;
            }
        }

    }

}

footer.sub-footer {
    background-color: $sl-primary;
    color: $sl-footer-white;
    padding: 0.5rem 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .copyright-address {
            text-align: left;
            br { display: none;}

            @include media-breakpoint-down(sm) {
                text-align: center;

                br { display:block;}
                p { margin: 1rem 0 0.25rem 0; }
            }


        }

        .copyright-privacy {
            text-align: right;

            @include media-breakpoint-down(sm) {
                text-align: center;
                p { margin: 0 0 0 0; }
            }

        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 1.5rem;
        }

    }

    p {
        font-size: 0.75rem;
        color: $sl-footer-white;
        margin: 0.25rem 0 0.25rem 0;
    }

    a {
        color: $sl-footer-white;

        &:hover {
            text-decoration: underline;
        }
    }

}



/*
body.sheridan {
footer.primary-footer {
        background-color: $sh-primary;
    .social-icons-container a:hover span {
                    color: $sh-tertiary;
    }
    .links-container a:hover {
                color: $sh-tertiary;
    }
}
    footer.sub-footer {
    background-color: darken($sh-primary, 10%);
    }
}

body.signature {
footer.primary-footer {
        background-color: $si-primary;
    .social-icons-container a:hover span {
                    color: $si-tertiary;
    }
    .links-container a:hover {
                color: $si-tertiary;
    }
}
    footer.sub-footer {
    background-color: darken($si-primary, 10%);
    }
}
*/