

.section-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    // margin-bottom: 60px;

        @include media-breakpoint-down(sm) {
            margin: 30px auto;
        }
}

.sl-section-content {
    padding: 3.75rem 0 0 0;
    margin-top: 4.375rem;

        &:first-child{
            margin-top: 10px;
        }

        @include media-breakpoint-down(sm) {
            padding: 3.125rem 0 0 0;
            margin-top: 3.125rem;
            // background-color: yellow;
        }

    border-top: 1px solid $sl-borderline;

    &:first-child {
        border-top: 0px;
    }

    .title-wrap {
        width: 100%;
        padding: 0;
    }

    h3 {
        text-align: left;
    }

    strong {
        font-size: 18px;
    }

    p {
        font-size: 16px;
        font-weight: 300;
    }

    ul {

        padding-inline-start:20px;
        padding-left: 20px; // for IE


    }

}