h1{
    color: white !important;
}

.decoration{
    height: auto;
    left: -355px;
    position: absolute;
    width: 150px;
}

.text-white{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        color: white !important;
    }
}

.benefits{
    background-color: $sl-primary;
    background-image: url(../../img/pattern/patt_4_blue.svg)!important;
    background-repeat: repeat;
    background-size: 30px auto;
    .video-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        .benefits-video{
            width: 100%;
            height: 60%;
            border: none !important;
        }
    }
    .benefits-text{
        padding: 30px;
        color: white !important;
        h2, h3, p{
            color: white !important;
        }
        .benefits-list{
            column-count: 2;
        }
    }
}

.heart{
    .heart-img, .heart-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            border-radius: 20px;
            box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.09);
        }
    }
}

.careers{
    .img-box{
        img{
            border-radius: 20px;
            box-shadow: -20px -20px $sl-primary;
        }
    }
    .positions-list{
        column-count: 2;
    }
}

.btn-primary-white{
    text-decoration: underline !important;
}

.btn-primary-white:hover{
    color: $sl-primary !important;
}

.btn-primary-white.btn-outline:hover{
    color: white !important;
}

.career-testimonials{
    margin: auto;
    background-color: #e9e7ee!important;
    background-image: url(../../img/pattern/patt_7_white.svg)!important;
    background-repeat: repeat!important;
    background-size: 30px auto!important;
    padding: 40px 0 40px;

    .container{
        max-width: 900px;
    }

    .testimonials-row{
        position: relative;

        &:before{
            color: #084c61;
            font-family: "Noto Serif",serif;
            font-size: 120px;
            font-weight: 700;
            line-height: 80px;
            position: absolute;
            content: "“";
            z-index: 1;
            left: 0;
            top: 0;
        }
        &:after{
            color: #084c61;
            font-family: "Noto Serif",serif;
            font-size: 120px;
            font-weight: 700;
            line-height: 80px;
            position: absolute;
            content: "”";
            z-index: 1;
            right: 0;
            bottom: -15px;
        }

    }

    .section-title{
        text-align: center;
        font-size: 44px;
        font-family: 'Noto Serif';
        color: $sl-primary !important;
    }

    .testimonials-body{
        margin: 40px auto;
        p{
            text-align: center;
            font-size: 28px;
            font-family: "Noto Serif";
            line-height: 36px;
            color: black !important;
           
        }
        

        
    }

    .client-name, .client-role{
        text-align: center;
        font-size: 28px;
        font-family: "Lucida Grande";
        color: black;
    }

    .slick-dots{
        padding: 15px;
        position: relative !important;
    }
    .slick-dots li.slick-active button:before {
        color: $sl-primary !important;
        opacity: .75;
    }
}





@media screen  and (max-width: 768px){
    .open-positions{
        .py-6{
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
        }
    }
    .iframe-container{
        display: none;
    }

    .red-box{
        margin-left: 0 !important;
    }

    .py-6{
        padding: 2rem 0 !important;
    }

    .text-box{
        margin-bottom: 15px;
    }

    ul{
        column-count: 1 !important;
    }

    .video-box{
        iframe{
            border: none!important;
            height: 100% !important;
            width: 100%;
        }
    }

    .section-title{
        font-size: 1.875rem !important;
    }

    .testimonials-body{
        margin: 40px auto;
        p{
            font-size: 22px !important;
            line-height: 32px !important;
        }
    }

    .client-name, .client-role{
        font-size: 22px !important;
    }
    .careers .container .row:nth-of-type(2){
        flex-direction: column-reverse !important;
    }
}