@mixin lifestyle_options_style($theme, $theme-color) {
	.content-area.lifestyle-options-page.#{$theme} {
		.site-main .container {
			max-width: 1150px !important;
		}
		.section-title-with-line {
			position: relative;	
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			@include media-breakpoint-down(xl) {
				padding-left: 40px;
				margin-left: -40px;
			}
			@include media-breakpoint-down(sm) {
				padding-left: 0;
				margin-left: 0;
			}
			
			h2 {
				font-weight: bold;
				
				&:before {
					content: "";
					position: absolute;
					top: 10px;
					margin: auto;
					left: 5px;
					display: block;
					height: 43px;
					width: 3px;
					transform: rotate(23deg);
					background-color: $theme-color;
					
					@include media-breakpoint-down(xs) {
						height: 35px;
						left: 10px;
					}
					@include media-breakpoint-down(sm) {
						display: none;
					}				
				}
				&:after {
					content: "";
					position: absolute;
					top: 10px;
					margin: auto;
					left: 15px;
					display: block;
					height: 43px;
					width: 3px;
					transform: rotate(23deg);
					background-color: $theme-color;
					
					@include media-breakpoint-down(xs) {
						height: 35px;
						left: 18px;
					}
					@include media-breakpoint-down(sm) {
						display: none;
					}				
				}				
			}
			
			.line-top {
				position: relative;
				width: auto;
				flex-grow: 1;
				margin-left: 20px;			
				display: block;
				height: 3px;
				background-color: $theme-color;
				z-index: -1;
				
				&:before {
					position: absolute;
					content: "";
					width: 3px;
					background-color: $theme-color;					
				}			
				@include media-breakpoint-down(md) {
					display: none !important;
				}
			}			
		}
	
		/**************************************
		***			Hero Section			***
		**************************************/
		.hero-loc {
			position: relative;
			padding: 65px 0;
			
			a {
				color: #fff;
			}
			
			@include media-breakpoint-down(sm) {
				padding: 50px 0;
			}
			
			&:not(.no-video) {
				background-image: url("../../img/pattern/patt_4_blue.svg") !important;
				background-repeat: repeat;
				background-size: 30px auto;
				
				&:before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: $primary;
					z-index: -1;
				}
			}

			&.no-video {			
				&:before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(105deg,#063f51 calc(50% - 60px),rgba(0,57,57,0.2) calc(50% + 75px));					
				}
				
				&:after {
					content: "";
				    position: absolute;
					top: 0;
					right: 0;
					width: 60%;
					height: 100%;
					z-index: -1;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center 25%;
				}
				
				@include media-breakpoint-down(lg) {

				}
				
				@include media-breakpoint-down(sm) {				
					&:before {
						background: linear-gradient(10deg,#063f51 calc(50%),rgba(0,57,57,0.2) calc(50% + 75px));
					}
					&:after {
						width: 100%;
						height: 60%;
					}
					.container .row {
						flex-direction: column-reverse;
					}
				}
			}			
			.container {
				max-width: 1280px !important;
				
				.row {
					align-items: center;
					
					.col-sm-6:first-of-type {
						@include media-breakpoint-up(sm) {
							padding-right: 60px;
						}
					}
				}
				
				h2 {
					margin-bottom: 25px;
					color: #fff;
					font-weight: bold;
				}
				p {
					color: #fff;
				}
				ul {
					padding-left: 0;
					margin-top: 30px;
					list-style: none;
					
					li {
						color: #fff;
						margin-bottom: 15px;
						
						&.links-title {
							font-weight: 500;
						}
						
						&:not(.links-title):before {
							content: "\00BB \0020";
							vertical-align: text-bottom;
						}
						
						a {
							font-weight: normal;
							color: #fff;
							
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	
		/**************************************
		***		In Page Nav Section			***
		**************************************/
		.in-page-nav-bar {
			position: relative;
			z-index: 10;
			
			&.sticky {
				position: fixed;
				width: 100%;
				top: 0;
				z-index: 10000;
			}
			@include media-breakpoint-up(md) {
				background-color: $primary-dark;
			}
			ul {
				width: 100%;
				max-width: 1280px;
				margin: 0 auto;
				text-align: center;
			}
			.in-page-nav-toggle {
				position: relative;
				background-color: $primary-dark;
				padding: 8px 0;
				color: #FFF;
				
				> div:first-of-type {
					font-size: 16px;
				}
				.active-page-link {
					font-size: 20px;
					line-height: 25px;
				}
				i {
					position: absolute;
					right: 16px;
					bottom: 10px;
				}
			}
			.in-page-links {
				width: 100%;
				/*display: block;*/
				list-style-type: none;
				padding: 0;
				background-color: #FFF;
				box-shadow: rgba(34, 34, 34, 0.1) 0px 1px 3px 2px;
				@include media-breakpoint-up(md) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					box-shadow: unset;
					background-color: transparent;
				}
				li {
					margin-bottom: 0;
					
					@include media-breakpoint-up(sm) {
						padding: 7px 0;
					}
					
					.in-page-icon {
						padding-bottom: 0.25rem;
						display: none;
						@include media-breakpoint-up(md) {
							display: block;
						}
					}
					&.active {
						@include media-breakpoint-up(md) {
							a {
								background-color: $sl-primary-light;
								border-radius: 39.5px;
								&:after {
									display: block;
								}
								&:before {
									display: none;
								}
							}
						}
						a:before {
							content: "\f061";
							color: #13102c;
							font-family: 'Font Awesome 5 Pro';
							font-size: 15px;
							font-weight: 900;
						}
					}
					a {
						position: relative;
						display: block;
						font-weight: 500;
						padding: 0.75rem 1.25rem;
						text-align: left;
						transition: background 0.2s linear;
						color: #13102c;
						@include media-breakpoint-up(md) {
							color: #fff;
							border-radius: 39.5px;
							text-transform: capitalize;
							border: 0 solid transparent;
							background-color: transparent;
							margin-bottom: 0;
							/*padding: 25px 35px;*/
							padding: 0.9rem 2rem;
							text-align: center;
							&:hover {
								background-color: $sl-primary-light;
								border-radius: 39.5px;
								&:after {
									display: block;
								}
							}
						}
						span {
							transition: all 0.2s linear;
						}
						/*
						&:after {
							content: "\f0d8";
							position: absolute;
							bottom: -6px;
							left: 0;
							right: 0;
							margin: auto;
							font-family: 'Font Awesome 5 Pro';
							font-size: 30px;
							font-weight: 900;
							color: #fff;
							display: none;
						}
						*/
					}
				}
			} // .in-page-links
		} // .in-page-nav-bar	
	
	
		/**********************************************
		***			Who is Right Section			***
		***********************************************/
		.section-loc-who {
			position: relative;
			padding-top: 80px;
			padding-bottom: 30px;
			overflow: hidden;
			
			@include media-breakpoint-down(sm) {
				padding-top: 50px;
			}
			
			.section-title-with-line {
				.line-top {
					
					&:before {
						height: 125px;
						right: 0;
						bottom: 0;
					}
				}
			}
			
			.col-sm-7 {
				padding-right: 50px;
				
				@include media-breakpoint-down(sm) {
					padding-right: 15px;
				}				
			}
			
			.wrap-img {
				position: relative;
				/*
				padding-left: 50px;
				margin-right: -50px;
				*/
				
				img {
					border-radius: 15px;
					box-shadow: -2px 0px 5px 0px #33333330;
				}
				
				&:before {
					content: "";
					position: absolute;
					top: 15px;
					left: -15px;
					width: 100%;
					height: 100%;
					background: $theme-color;
					border-radius: 15px;
					z-index: -1;
				}
			}
			
			.square-box {
				position: absolute;
				right: -90px;
				top: 33%;
				transform: scale(0.6);
				transform-origin: right;
				display: none;
				
				path {
					stroke: $theme-color;
				}
			}
			
			&.no-image {
				.square-box {
					display: block;
					
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}
		}
	
	
		/**********************************************
		***			Services Section			***
		***********************************************/

		.services-section {
			padding-top: 60px;		

			.services-header-wrapper {
				position: relative;
				padding: 2rem 0;

				@include media-breakpoint-down(sm) {
					padding: 1rem;
				}
				
				.section-title-with-line {
					h2 {
						color: #fff !important;
						
						&:before, &:after {
							background: #fff !important;
						}
					}
				}
				
				.services-content {
					p {
						color: #fff;
					}
				}
				
				svg {
					left: -295px;
					position: absolute;
					top: -50px;
					opacity: 0.9;
					z-index: -1;
					width: 300px;
					height: 300px;
					
					path {
						stroke: $theme-color
					}
					
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
				
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: -50px;
					height: 100%;
					background: $primary;
					width: calc(50vw + 615px);
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
					
					@include media-breakpoint-down(lg) {
						left: 0;
						width: 100%;
						border-radius: 0;
					}
					
				}

			}
			.services-list-container {
				position: relative;
				margin-top: 60px;
				
				&:not(.no-line):before {
					content: "";
					position: absolute;
					top: 0;
					left: calc(50% - 1px);
					width: 2px;
					height: 100%;
					background: rgba($theme-color, 0.5);
					
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
				
				.services-list-item {
					padding-bottom: 80px;

					@include media-breakpoint-down(sm) {
						padding-bottom: 30px;
					}

					&:nth-last-of-type(-n+2) {
						padding-bottom: 0;
					}
					
					&:nth-of-type(odd) {
						padding-right: 90px;
						
						@include media-breakpoint-down(md) {
							padding-right: 50px;
							padding-left: 30px;
						}
						@include media-breakpoint-down(sm) {
							padding-right: 30px;
						}
					}
					&:nth-of-type(even) {
						padding-left: 90px;
						
						@include media-breakpoint-down(md) {
							padding-left: 50px;
							padding-right: 30px;
						}
						@include media-breakpoint-down(sm) {
							padding-left: 30px;
						}						
					}
					
					.icon-wrapper {
						margin-bottom: 10px;

						@include media-breakpoint-down(sm) {
							flex: 0 0 3.75rem;
						}

						span {
							color: #fff;
							display: inline-block;
							font-size: 25px;
							line-height: 60px;
							padding: 0;
							text-align: center;
							border-radius: 50%;
							background: $theme-color;
							width: 60px;
							height: 60px;

							@include media-breakpoint-down(sm) {
								font-size: 1.75rem;
							}

						}

					}

					h4 {
						margin-bottom: 1.5rem;

						@include media-breakpoint-down(sm) {
							margin-bottom: 1rem;
						}

					}

				}				
			}

		}

		.lo-callout-box {
			.text-center.lo-callout-disclaimer {
				max-width: 90%;
				margin: 0 auto;
				padding-bottom: 55px;
				margin-top: 1.25rem;
				border-bottom: 1px solid $sl-borderline;
			}

		}
	
	
	
		/**********************************************
		***				Daily Life Section			***
		***********************************************/
		.experience-section {
			padding-top: 60px;
			overflow: hidden;

			@include media-breakpoint-down(sm) {
				padding-top: 30px;
			}	
				
			.experience-content-wrapper {
				padding-top: 1.75rem;

				@include media-breakpoint-down(sm) {
					padding-top: 0.625rem;
				}

			}
			
			.section-title-with-line {
				.line-top {
					margin-right: auto;
					max-width: 650px;
					
					&:before {
						height: 200px;
						right: 0;
						top: 0;
					}
				}
			}			

			.col-content {
				position: relative;
				padding-right: 0px;
				max-height: 640px;
				
				@include media-breakpoint-down(sm) {
					padding-left: 70px;
					padding-right: 20px;
					max-height: unset;
				}				
				
				.progress {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					
					.progress-bar {
						width: 5px;
						border-radius: 10px;
						background-color: $primary;
					}
					
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
				
				@media screen and (max-width: 1280px) {
					padding-left: 80px;
				}
			
			}

			.exerience-list-container {
				margin-left: -65px;
				padding: 30px;
				background-color: #f5f5f5;
				
				slick-track {
					display: flex !important;
				}

				.slick-dots {
					bottom: 15px;
					left: 0;
					right: 0;
					margin: auto;
					
					li button:before {
						color: rgba($primary, 0.7);
					}
					
					li.slick-active button:before {
						color: $primary;
					}
				}
				.slick-slide {
					height: auto;
					
					.experience-list-item {
						padding-left: 65px;
						padding-bottom: 1.75rem;
						display: flex;
						justify-content: flex-start;
						transition: all ease-in 0.3s;

						@include media-breakpoint-down(sm) {
							padding-left: 40px;
						}
						
						h4 {
							position: relative;
							display: flex;
							align-items: center;
							margin-bottom: .5rem;

							@include media-breakpoint-down(sm) {
								margin-bottom: 1rem;
							}

							span {
								position: absolute;
								left: -65px;
								top: 0;
								bottom: 0;
								margin: auto;
								color: $sl-primary;
								font-size: 2.5rem;

								@include media-breakpoint-down(sm) {
									font-size: 1.75rem;
									top: 5px;
									left: -40px;
								}

							}
						}

					}

					&:not(.slick-current) {
						.experience-list-item {
							opacity: 0.5;
							transform: scale(0.9);
							transform-origin: left;
						}
					}
				}
			}
			
			.experience-image-container {
				padding-left: 80px;
				position: relative;
				max-width: 550px;
				
				@include media-breakpoint-down(md) {
					padding-left: 40px;
				}
				
				@include media-breakpoint-down(sm) {
					padding: 0 30px;
					margin: auto;
				}
				
				.pattern-back {
					position: absolute;
					top: 0;
					left: 80px;
					width: calc(50vw + 10px);
					height: 100%;
					filter: url(#round);
					z-index: -1;
					
					@include media-breakpoint-down(md) {
						left: 55px;
					}
					
					@include media-breakpoint-down(sm) {
						left: 0px;
						width: calc(100% + 30px);
					}
					
					&:before, &:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 100%;
						height: 100%;
						clip-path: polygon(240px 0,100% 0,100% 100%,70px 100%);							
					}
					
					&:before {
						background-image: url("../../img/pattern/patt_7_#{$theme}.svg");
						background-repeat: repeat;
						background-size: 30px auto;
						background-color: $theme-color;							
					}
					&:after {
						background: linear-gradient(-270deg, rgba($theme-color, 0.75), rgba($theme-color, 0.5));;
					}						
				}
				
				.list-img-item {
					.wrap-img {
						position: relative;
						padding: 60px 0;
						
						img {
							border-radius: 15px;
						}
						
						@include media-breakpoint-down(sm) {
							padding: 35px 0;
						}
					}
				}
			}
		}


		/**********************************************
		***			Callout Box Section				***
		***********************************************/
		.section-callout-box {
			margin-top: 180px;
			
			@include media-breakpoint-down(sm) {
				margin-top: 50px;
			}
			
			.container {
				max-width: 1260px !important;
				
				@media screen and (max-width: 1400px) {
					padding: 0 70px;
					
					.row {
						svg {
							&.top {
								transform: scale(0.7);
							}
							&.bottom {
								transform: scale(-0.7);
							}							
						}
					}
				}
				
				@include media-breakpoint-down(sm) {
					padding: 0 35px;
				}				
			}
			.row {
				position: relative;
				background-color: $primary;
				border-radius: 15px;
				
				svg {
					position: absolute;
					width: 115px;
					height: 115px;
					z-index: -1;
					
					path {
						fill: rgba($theme-color, 0.8);
					}
					
					&.top {
						top: -65px;
						left: -65px;
					}
					&.bottom {
						transform: scale(-1, -1);
						right: -65px;
						bottom: -65px;
						z-index: -1;
					}
					
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}
			
			.callout-image {
				background-color: #E7EBEE;
				padding: 50px 20px;
				flex: 0 0 30%;
				border-radius: 13px 0 0 13px;
				display: flex;
				align-items: center;
				
				img {
					width: 100%;
					object-fit: cover;
				}
				
				&.full-image {
					padding: 0 !important;
					
					img {
						height: 100%;
						object-fit: cover;
					}
				}
				
				@include media-breakpoint-down(sm) {
					flex: 0 0 100%;
					padding: 35px;
					border-radius: 13px 13px 0 0;
					
					img {
						max-width: 300px;
						margin: auto;
					}
					
					&.full-image {
						img {
							max-width: 100%;
							border-radius: 13px 13px 0 0;
						}
					}
				}
			}
			
			.callout-content {
				background-color: $primary;
				padding: 50px;
				border-radius: 0 13px 13px 0;
				display: flex;
				align-items: center;				
				
				@include media-breakpoint-down(sm) {
					flex: 0 0 100%;
					padding: 35px;
					border-radius: 0 0 13px 13px;
				}
				
				h3 {
					color: #fff;
				}
				p {
					color: #fff;
				}
				.btn-primary-lightblue {
					margin-top: 25px;
				}
			}
			
			&.content-left {
				@include media-breakpoint-up(md) {
					.callout-image {
						border-radius: 0 13px 13px 0;
						
						img {
							border-radius: 0 13px 13px 0;
						}
					}
					.callout-content {
						border-radius: 13px 0 0 13px;
						
						img {
							border-radius: 0 13px 13px 0;
						}
					}
				}
				
				@include media-breakpoint-down(sm) {
					.row {
						flex-direction: column-reverse;
					}
				}
			}
		}

		/**********************************************
		***			How To Find Section				***
		***********************************************/
		.section-loc-how {
			padding-top: 100px;
			padding-bottom: 50px;
			overflow: hidden;
			
			@include media-breakpoint-down(sm) {
				padding-top: 60px;
				padding-left: 15px;
				padding-right: 15px;
			}
			
			.col-title {
				padding-left: calc(50vw - 565px);
			}
			.section-title-with-line {
				.line-top {
					
					&:before {
						display: none;
					}
				}
			}
			
			.col-sm-7 {
				padding-right: 50px;
				
				@include media-breakpoint-down(sm) {
					padding-right: 15px;
				}
			}
			
			.wrap-img {
				position: relative;
				/*
				padding-left: 50px;
				margin-right: -50px;
				*/
				
				img {
					border-radius: 15px;
					box-shadow: -2px 0px 5px 0px #33333330;
				}
				
				&:before {
					content: "";
					position: absolute;
					bottom: -15px;
					right: -15px;
					width: 100%;
					height: 33%;
					background: $theme-color;
					border-radius: 15px;
					z-index: -1;
				}
			}		
		}
		
		/**********************************************
		***				Values Section				***
		***********************************************/
		.section-loc-values {
			padding-top: 130px;
			padding-bottom: 50px;
			overflow: hidden;
			
			@include media-breakpoint-down(sm) {
				padding-top: 80px;
				padding-left: 15px;
				padding-right: 15px;
			}			
			
			.col-title {
				padding-left: calc(50vw - 565px);
			}
			.section-title-with-line {
				.line-top {
					
					&:before {
						display: none;
					}
				}
			}
			
			.col-sm-7 {
				padding-left: 50px;
				
				@include media-breakpoint-down(sm) {
					padding-left: 15px;
				}
			}
			
			.wrap-img {
				position: relative;
				/*
				padding-left: 50px;
				margin-right: -50px;
				*/
				
				img {
					border-radius: 15px;
					box-shadow: -2px 0px 5px 0px #33333330;
				}
				
				&:before {
					content: "";
					position: absolute;
					bottom: -15px;
					right: -15px;
					width: 100%;
					height: 33%;
					background: $theme-color;
					border-radius: 15px;
					z-index: -1;
				}
			}
			.btn-primary-lightblue {
				margin-top: 25px;
			}			
		}		
		
		/**********************************************
		***				FAQ Section					***
		***********************************************/
		.section-faq {
			padding-top: 100px;
			
			@include media-breakpoint-down(sm) {
				padding-top: 0;
			}
			
			.section-title-with-line {
				.line-top {
					max-width: 430px;
					margin-right: auto;	
					
					&:before {
						height: 200px;
						right: 0;
					}
				}
			}

			.faq-accordion-wrap {
				padding-top: 30px;
				padding-bottom: 50px;	
				background-image: url("../../img/pattern/patt_9_#{$theme}.svg");
				background-repeat: repeat;
				background-size: 30px auto;	
				background-color: #fff;

				.accordion {
					.card {					
						.card-header {
							padding: 5px 5px;
							
							.btn {
								color: #fff;
								font-size: 18px;
								font-weight: 500;
								
								&:hover {
									outline: none;
									text-decoration: none;
								}
								&:focus, &:active {
									outline: none;
								}
							}
						}
						
						&:not(.last-of-type) {
							margin-top: 15px;
						}
					}
				}
			}
		}



		//
		// ADDITIONAL INFO
		//

		.additional-info {
			margin-bottom: 6rem;
			margin-top: 60px;

			@include media-breakpoint-down(sm) {
				margin-bottom: 30px;
			}

			.additional-info-block-item {
				border-bottom: 1px solid $sl-borderline;
				margin-top: 3.75rem;
				margin-bottom: 3.75rem;
				padding: 0px 0 3.75rem 0;

				&:last-child {
					padding: 0px;
					border-bottom: 0px;
					margin-top: 0px;
					margin-bottom: 0px;
				}

				@include media-breakpoint-down(sm) {
					margin: 60px 0 60px 0 ;
				}

			}

			.left-col-wrapper {
				@include media-breakpoint-down(sm) {
					padding-bottom: 2rem;
				}

			}

		}
	}
}

@include lifestyle_options_style (
	yellow,
	$primary-yellow
);
@include lifestyle_options_style(
	red,
	$loc-red
);
@include lifestyle_options_style (
	purple,
	$primary-purple
);
@include lifestyle_options_style (
	navy,
	$primary-navy
);


.container-full-img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 480px;
    justify-content: baseline;

    img {
        width: 100%;
        height: auto;
    }

    margin-bottom: 3.75rem;

    @include media-breakpoint-down(sm) {
        margin-top: 3.75rem;
        margin-bottom: 1.25rem;
    }

}

.question-blocks hr {
    margin-bottom: 5rem;

    @include media-breakpoint-down(sm) {
        margin-bottom: 3rem;
    }

}

